<% provide(:title, "Selecciones") %>

<section id="teams">
  <header class="page-header">
    <h1>Selecciones <small class="hidden-xs">Todas</small></h1>
  </header>
  <%= render 'index_admin_menu' if signed_in_as_admin? %>
  <nav>
    <ol class="breadcrumb">
      <li class="active">Selecciones</a></li>
    </ol>
  </nav>
  <div class="table-responsive">
    <table class="table table-hover tablesorter" id="teams-table">
      <thead>
        <tr>
          <th class="sorter-false" data-sorter="false"></th>
          <th>Nombre</th>
          <th>Nota</th>
          <th>Partidos</th>
          <th>Goles</th>
          <th>Amarillas</th>
          <th>Rojas</th>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
        <tr>
          <td class="text-center"><%= image_for(team, :small) %></td>
          <td><%= link_to team, team_path(team) %></td>
          <td><%= team.rating_avg %></td>
          <td><%= team.games_played %></td>
          <td><%= team.goals %></td>
          <td><%= team.yellow_cards %></td>
          <td><%= team.red_cards %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="success">
          <td class="text-center"><i class="fa fa-users"></i></td>
          <td>Total</td>
          <td><%= total_rating_avg.round(2) %></td>
          <td><%= total_games %></td>
          <td><%= total_goals %></td>
          <td><%= total_yellow_cards %></td>
          <td><%= total_red_cards %></td>
        </tr>
      </tfoot>
    </table> 
  </div>
</section>
