<% provide(:title, @team) %>

<section id="team_<%= @team.id %>">
  <header class="page-header">
    <h1><%= image_for(@team, :large) %>  <%= @team %> <small class="hidden-xs"><%= @team.iso_2.upcase %></small><span class="label label-<%= class_for_rating(@team.rating_avg) %> label-big"><%= @team.rating_avg %></span></h1>
  </header>

  <%= render 'show_admin_menu' if signed_in_as_admin? %>
  <nav>
    <ol class="breadcrumb">
      <li><a href="<%= teams_path %>">Selecciones</a></li>
      <li class="active"><%= @team %></li>
    </ol>
  </nav>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#team_players" data-toggle="tab">Jugadores</a></li>
    <li><a href="#team_games" data-toggle="tab">Partidos</a></li>
  </ul>
  <section class="tab-content">
    <section class="tab-pane active" id="team_players">
      <div class="table-responsive">
    <table class="table table-hover tablesorter" id="team-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Rol</th>
          <th>Nombre</th>
          <th>Nota</th>
          <th>Votos</th>
          <th>Partidos</th>
          <th>Minutos</th>
          <th>Goles</th>
          <th>Amarillas</th>
          <th>Rojas</th>
        </tr>
      </thead>
      <tbody>
        <% @team.players.each do |player| %>
        <tr class="<%= class_for_player(player) %>">
          <td><%= player.number %></td>
          <td><%= player.position %></td>
          <td><%= link_to player.name, team_player_path(@team, player) %></td>
          <td>
            <span class="label label-<%= class_for_rating(player.rating_avg) %>">
              <%= player.rating_avg %>
            </span>
          </td>
          <td><%= player.rating_count %></td>
          <td><%= player.games_played %></td>
          <td><%= player.minutes %></td>
          <td><%= player.goals %></td>
          <td><%= player.yellow_cards %></td>
          <td><%= player.red_cards %></td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><i class="fa fa-users"></i></td>
          <td>-</td>
          <td>Equipo</td>
          <td><%= @team.rating_avg %></td>
          <td>-</td>
          <td><%= @team.games_played %></td>
          <td>-</td>
          <td><%= @team.goals %></td>
          <td><%= @team.yellow_cards %></td>
          <td><%= @team.red_cards %></td>
        </tr>
      </tfoot>
    </table>
      </div>
    </section>
    <section class="tab-pane" id="team_games">
      <div class="table-responsive">
        <%= render 'games/games', games: @team.games %>
      </div>
    </section>
  </section>
</section>