<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Partido</th>
        <th>Fase</th>
        <th class="hidden-xs">Estado</th>
      </tr>
    </thead>
    <tbody>
      <% games.each do |game| %>
      <tr class="<%= class_for_game(game) %>">
        <td>
          <i class="fa fa-calendar"></i>
          <%= time_for_game(game.date) %>
        </td>
        <td>
          <% if game.performance_records.any? %>
            <%= link_to game, game_path(game) %>
          <% else %>
            <%=  game %>
          <% end %>
        </td>
        <td><%= game.round %></td>
        <td class="hidden-xs">
          <%= game_is_finished(game) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>