<div class="table-responsive">
  <h4 class="text-center"><%= records.first.as_home_player? ? @game.home_team : @game.away_team %></h4>
  <table class="table table-condensed table-hover table-bordered game-stats-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Rol</th>
        <th>Jugador</th>
        <th></th>
        <th class="hidden-xs"></th>
        <th class="hidden-xs"></th>
        <th class="hidden-xs"></th>
        <th class="hidden-xs"></th>
        <th class="text-center">Media</th>
        <th class="text-center">Tu Nota</th>
      </tr>
    </thead>
    <tbody>
    <% records.each do |record| %>
      <tr class="<%= class_for_record(record) %>" id="rate_record_<%= record.id %>">
        <td><%= record.player.number %></td>
        <td><%= record.player.position %></td>
        <td><%= record.player %></td>
        <td><%= print_goals(record.goals) %></td>
        <td class="hidden-xs"><span class="label label-yellow" data-toggle="tooltip" data-placement="top" title="Tarjeta Amarilla"><%= yellow_cards(record.yellow_cards) %></span></td>
        <td class="hidden-xs"><span class="label label-red" data-toggle="tooltip" data-placement="top" title="Tarjeta Roja"><%= red_card(record.red_cards) %></span></td>
        <td class="hidden-xs"><i class="fa fa-clock-o fa-minutes" data-toggle="tooltip" data-placement="top" title="Minutos Jugados"></i> <%= record.minutes %>'</td>
        <td class="hidden-xs"><%= substitution(record) %></td>
        <td class="text-center">
          <span class="label label-rating label-<%= class_for_rating(record.rating_avg) %>" data-toggle="tooltip" data-placement="top" title="Nota Media">
            <%= record.rating_avg %>
          </span>
        </td>
        <td class="rate-form-cell text-center">
          <%= render 'ratings/player_rating', record: record, game: @game %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>