<% provide(:title, "Partidos #{params[:round]}") %>

<section id="games">
  <section class="page-header">
    <h1>Partidos <small class="hidden-xs"><%= params[:round] || 'Todos' %></small></h1>
  </section>
  <%= render 'index_admin_menu' if signed_in_as_admin? %>
  <nav>
    <ol class="breadcrumb">
      <li class="<%= 'active' if params[:round] %>"><%= params[:round] ? (link_to 'Partidos', games_path) : 'Partidos' %></li>
      <%= content_tag(:li, params[:round], class: 'active') if params[:round] %>
    </ol>
  </nav>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#round-filters">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">Filtros: </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse text-right" id="round-filters">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' unless params[:round] %>"><a href="<%= games_path %>">Todos</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo A" %>"><a href="<%= games_path(round: "Grupo A") %>">A</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo B" %>"><a href="<%= games_path(round: "Grupo B") %>">B</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo C" %>"><a href="<%= games_path(round: "Grupo C") %>">C</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo D" %>"><a href="<%= games_path(round: "Grupo D") %>">D</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo E" %>"><a href="<%= games_path(round: "Grupo E") %>">E</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo F" %>"><a href="<%= games_path(round: "Grupo F") %>">F</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo G" %>"><a href="<%= games_path(round: "Grupo G") %>">G</a></li>
          <li class="<%= 'active' if params[:round] == "Grupo H" %>"><a href="<%= games_path(round: "Grupo H") %>">H</a></li>
          <li class="disabled"><a href="#">|</a></li>
          <li class="<%= 'active' if params[:round] == "1/8" %>"><a href="<%= games_path(round: "1/8") %>">1/8</a></li>
          <li class="<%= 'active' if params[:round] == "1/4" %>"><a href="<%= games_path(round: "1/4") %>">1/4</a></li>
          <li class="<%= 'active' if params[:round] == "Semifinales" %>"><a href="<%= games_path(round: "Semifinales") %>">Semifinales</a></li>
          <li class="<%= 'active' if params[:round] == "3º y 4º" %>"><a href="<%= games_path(round: "3º y 4º") %>">3º y 4º</a></li>
          <li class="<%= 'active' if params[:round] == "Final" %>"><a href="<%= games_path(round: "Final") %>">Final</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="game-list">
    <%= render 'games', games: @games %>
    <div class="container text-center">
      <%= will_paginate @games, previous_label: content_tag(:i, '', class: 'fa fa-chevron-left'), next_label: content_tag(:i, '', class: 'fa fa-chevron-right'), renderer: BootstrapPagination::Rails %>
    </div>
  </section>
</section>
