<% provide(:title, @game) %>

<section id="game_<%= @game.id %>">
  <section class="page-header">
    <h1><%= image_for(@game.home_team, :large) %> <%= @game %> <%= image_for(@game.away_team, :large) %> <small class="hidden-xs"><%= time_for_game(@game.date) %></small></h1>
  </section>
  <%= render 'show_admin_menu' if signed_in_as_admin? %>
  <nav>
    <ol class="breadcrumb">
      <li><a href="<%= games_path %>">Partidos</a></li>
      <li><a href="<%= games_path(round: @game.round) %>"><%= @game.round %></a></li>
      <li class="active"><%= @game %></li>
    </ol>
  </nav>
  <% if @game.performance_records.count > 0 %>
  <section id="game-stats">
    <div class="row">
      <div class="col-md-6 col-xs-12" id="home_team_records">
        <%= render 'game_records', records: @home_records %>
      </div>
      <div class="col-md-6 col-xs-12" id="away_team_records">
        <%= render 'game_records', records: @away_records %>
      </div>
    </div>
  </section>
  <% end %>
</section>
