<% provide(:title, @game) %>
<% content_for(:extra_meta) do %>
  <%= render 'shared/twitter_cards', game: @game, user: current_user %>
<% end %>
<section id="game_<%= @game.id %>">
  <section class="page-header">
    <h1 class="hidden-xs"><%= image_for(@game.home_team, :large) %> <%= @game %> <%= image_for(@game.away_team, :large) %> <small><%= time_for_game(@game.date) %></small></h1>
    <h1 class="visible-xs"><%= image_for(@game.home_team, :large) %> <%= @game.result %> <%= image_for(@game.away_team, :large) %> <small><%= time_for_game(@game.date) %></small></h1>
  </section>
  <%= render 'show_admin_menu' if signed_in_as_admin? %>
  <nav>
    <ol class="breadcrumb">
      <li><a href="<%= games_path %>">Partidos</a></li>
      <li><a href="<%= games_path(round: @game.round) %>"><%= @game.round %></a></li>
      <li class="active"><%= @game %></li>
    </ol>
  </nav>
  <% if @game.performance_records.count > 0 %>
  <section id="game-stats">
    <div class="row">
      <div class="col-md-6 col-xs-12" id="home_team_records">
        <%= render 'game_records', records: @home_records, home: true %>
      </div>
      <div class="col-md-6 col-xs-12" id="away_team_records">
        <%= render 'game_records', records: @away_records, home: false %>
      </div>
    </div>
  </section>
  <footer class="text-center">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Mira las notas del #<%= @game.home_team %> - #<%= @game.away_team %>" data-via="NotasDelMundial" data-lang="es" data-size="large" data-related="antoniobg87" data-hashtags="WorldCup2014,Brasil2014">Twittear</a>
  </footer>
  <% end %>
</section>
