<%= render 'shared/error_messages', object: f.object %>
<div class="form-group">
  <%= f.label :name, 'Name' %>
  <%= f.text_field :name, class: "form-control", placeholder: 'Introduzca el nombre del jugador' %>
</div>
<div class="form-group">
  <%= f.label :number, 'Number' %>
  <%= f.text_field :number, class: "form-control", placeholder: 'Enter the number of the player' %>
</div>
<div class="form-group">
  <%= f.label :position_id, 'Position' %>
  <%= f.select :position_id, @positions, {include_blank: "Select a position"}, { class: "form-control" } %>
</div>
<%= f.submit 'Save', class: 'btn btn-default' %>