<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <title>Las Notas de Brasil 2014 - Puntúa la actuación de los jugadores en el Mundial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Puntúa la actuación de los jugadores en el Mundial de Brasil 2014 y compárte tus impresiones con tus amigos.">
  <%= yield(:extra_meta) if content_for?(:extra_meta) %>
  
  <!-- Open Graph -->
  <meta property="og:locale" content="es_ES" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
  <meta property="og:description" content="Evalúa la actuación de los jugadores y las selecciones en el Mundial de Brasil 2014 y comparte tus impresiones con tus amigos." />
  <meta property="og:url" content="http://lasnotasdelmundial.com/" />
  <meta property="og:site_name" content="Las Notas del Mundial" />
  <meta property="og:image" content="<%= image_path('logo-original.png') %>" />

  <%= render 'layouts/favicons' %>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= twitter_bootstrap_stylesheet_link_tag :netdna, force: true, version: "3.1.1" %>
  <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :cache => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= twitter_bootstrap_javascript_include_tag :netdna, force: true, version: "3.1.1"  %>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&appId=451436034959157&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
  <% if cookies[:visits] == 0 %>
    <%= render 'shared/launch_modal' %>
  <% end %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id="fb-root"></div>
  <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <% if signed_in? %>
          <%= render 'layouts/user_navbar' %>
        <% else %>
          <%= render 'layouts/guest_navbar' %>
        <% end %>
      </div>
    </nav>
  </header>
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> fade in">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
     <%= value %>
  </div>
  <% end %>  
  <section class="container">
    <%= yield %>
    <%= render 'shared/signin_modal' %>
  </section>
  <%= render 'layouts/footer' %>
  <%= render 'cookies_eu/cookies_eu', link: cookies_path %>
</body>
</html>
